<center>
      <a href="/">Home</a>
      <a href="/urls/new">Add URL</a>
      <a href="/urls/">My URLS</a>
<center>
  <header>
    <%if (email){%>
      <h2><%= email %></h2>
      <form action="/logout" method="POST">
        <input class="button" type="submit" value="logout">
      </form>
    <% } else { %>
      <form action="/login" method="GET">
        <input type="submit" value="Login">
      </form>
      <form action="/register" method="GET">
        <input type="submit" value="Register">
      </form>
    <% } %>
  </header>
