<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
    <style>
      body {
        background-color: skyblue;
        font-family: verdana;
        color: #fff;
        padding: 30px;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        color: white;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
      table#t01 {
        width:100%;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h2>Welcome to Tiny URL App</h2>
    <p><a href="/login">Login</a> or <a href="/register">Register</a> to begin.</p>
  </body>
</html>
