<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
    <style>
      body {
        background-color: skyblue;
        font-family: verdana;
        color: #fff;
        padding: 30px;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        color: white;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
