<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp-ShowURL</title>
    <style>
      body {
        background-color: skyblue;
        font-family: verdana;
        color: #fff;
        padding: 30px;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        color: white;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h2>ShortURL: <strong><%= shortURL %></strong></h2>

    <p>
      <form class = 'urls-show-form' method="POST" action="/urls/<%= shortURL %>">
        <input id='longURL' type='text' name='newURL' value='<%= longURL %>'>
        <button type='submit' value='update'/>Update</button>
      </form>
    </p>
    </ul>
  </body>
</html>
